/* ------- OPEN BUTTON ------- */
.combo-box-base > .arrow-button {
   visiblility: hidden;
   -fx-background-color :white;
   -fx-border-color :white;
  -fx-opacity: 0.0;
   -fx-min-width : 0.0;
   -fx-min-height: 0.0;
    -fx-max-width : 0.0;
   -fx-max-height: 0.0;
  -fx-pref-width : 0.0;
   -fx-pref-height: 0.0;
}


.combo-box .arrow, .combo-box .arrow-button{
  visiblility: hidden;
     -fx-background-color :white;
      -fx-border-color :white;
      -fx-opacity: 1.0;
    -fx-min-width : 0.0;
    -fx-min-height: 0.0;
     -fx-max-width : 0.0;
   -fx-max-height: 0.0;
    -fx-pref-width : 0.0;
   -fx-pref-height: 0.0;
}
